<HTML>
<head>
</head>
<body>
<form method="POST" action="http://localhost/git/web/views/ajoutClient.php">
<table>
<caption>Ajouter Client</caption>
<tr>
<td>ID</td>
<td><input type="number" name="id"></td>
</tr>
<tr>
<td>Nom</td>
<td><input type="text" name="nom" value="" required placeholder=""></td>
</tr>
<tr>
<td><label for="">Prénom</label></td>
<td> <input type="text" name="prenom" value=""  required placeholder="" ></td>
</tr>
<tr>
<td>Email</td>
<td><input type="email" name="email" value=""  required placeholder="" ></td>
</tr>
<tr>
	<tr>
<td>Nom</td>
<td><input type="password" name="pwd" value="" required placeholder=""></td>
</tr>
<td>Télephone</td>
<td><input type="number" name="numero" value="" required placeholder=""></td>
</tr>
<tr>
<td>Adresse</td>
<td><input type="text" name="adresse" required placeholder=""></td>
</tr>
<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter" ></td>
</tr>
</table>
</form>
</body>
</HTMl>



